*{
    box-sizing: border-box;
    margin: 0;
}

/* zkusíme bez css reset*/

:root{
    --font-base: "Open Sans", sans-serif;
    --font-special: "Nunito Sans", sans-serif;

    --color-primary: #ff0000;
    --color-dark: #28272C;
    --color-dimmed:#6a6a6a;
    --color-dimmed-white:#b2b2b2;
    --color-input-border:#d1d1d1;

    --form-input-radius: 8px;
    --color-footer: #28272c;
}


body{
    font-family: var(--font-base);
    font-optical-sizing: auto;
}


    /*font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;*/


.container{
    max-width: 1088px;
    margin-inline: auto;
}


.container--narrow{
    max-width: 908px;


}

/* ---- Header -----*/

.header{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 800px;
    background:
        linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url(../images/Image.jpg) no-repeat center/cover;
   
}

.header__top{
    background: #00000066; 
}

.header__top .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo{
    display: flex;
    align-items: center;
    font-family: var(--font-special);
    font-weight: 700;
    font-size: 35px;
    color: white;
}

.header__logo span{
    color: var(--color-primary);
    margin-left: 10px;
    margin-right: 5px;
}


.header__menu{
    display: flex;

}

.header__menu-link{
    display: block;
    font-family: var(--font-special);
    font-family: 16px;
    padding: 33px 40px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
}
.header__menu-link--active,
.header__menu-link:hover,
.header__menu-link:focus{
    background: #ffffff33

}

.header__hero{
    color: white;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header__title{
    font-family: var(--font-special);
    font-size: 90px;
    line-height: 1;
    font-weight: 900;
    text-align: center;
    margin: 0 0 30px 0;

}

.header__description{
    margin: 0;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    
}

.header__buttons{
    display: flex;
    gap: 25px;
    justify-content: center;
    margin-top: 40px;
}
.header__arrow{
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-primary);
    border-radius: 50%;
    position: absolute;
    bottom: -27px;
    left: calc(50% - 27px);
}

/* ---- Button----- */

.button{
    display: inline-block;
    background: var(--color-primary);
    color: white;
    padding: 10px 30px;
    font-family: var(--font-special);
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 50px;
}

.button--secondary{
    color: var(--color-primary);
    background: white;
}

.button--big{
    padding: 22px 55px;
    font-size: 16px;
    line-height: 22px;
}

.button--outline{
    border: 1px solid var(--color-primary);
}

/* ------ section ---- */

.section{
    padding-block: 90px;

}

.section--dark{
    background: var(--color-dark);
    color: white;
}

.section__header{
    margin: 0 0 35px 0;
    font-family: var(--font-special);
    font-weight: 700;
    font-size: 35px;
    line-height: 47px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.section__header::before,
.section__header::after{
    content: "";
    display: inline-block;
    width: 50px;
    height: 3px;
    background: var(--color-primary);
}

/* ------ blog ------ */

.blog{
    display: flex;
    gap: 16px;
}

.article{
    flex: 1 1 33.33%;
}

.article__image{
    width: 100%;
}

.article__title{
    margin: 25px 0 15px 0;
    font-family: var(--font-special);
    font-size: 19px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--color-dimmed);
    
}

.article__description{
    color: var(--color-dimmed);
    font-size: 14px;
    margin: 0 0 15px 0;
   
}

/* ----- service ------ */
.services{
    display: flex;
    gap: 45px;
    /* text-align: center; */
}

.service{
    flex: 1 1 25%;
    text-align: center;
}

.service__image{
    /* display: block;
    margin-inline: auto; */
    width: 170px;
   
}

.service__title{
    margin: 15px 0 15px 0;
    font-family: var(--font-special);
    font-size: 19px;
    line-height: 26px;
    font-weight: 300;
    text-transform: uppercase;
    color: #ffffff;
    
}

.service__text{
    color: var(--color-dimmed-white);
    font-size: 14px;
    margin: 0 0 15px 0;
    font-family: var(--font-base);
    line-height: 19px;
}

.section__header--sevice{
    margin-bottom: 75px;
}

/* ----- contact ------ */
.contact{
    display: flex;
    gap: 16px;

}

.contact__image,
.contact__form {
    flex: 1 1 50%;
   
}
.contact__image img{
    width: 100%;
}   


.contact__form{
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.form-input{
    width: 100%;
    padding: 8px 12px;
    font-family: var(--font-special);
    font-size: 16px;
    line-height: 22px;
    border: 1px solid var(--color-input-border);
    border-radius: var(--form-input-radius);

}

.form-align-right{
    align-self: flex-end;
    padding: 10px 40px ;
}

.form-agreement{
    
}

.form-label{
    font-size: 10px;
    color: var(--color-dimmed);
    display: flex;
    align-items: flex-start;
    gap: 10px;

}

.form-label::before{
    flex-shrink: 0;
    content: "";
    display: inline-block;
    width: 22px;
    height: 22px;
    border: 1px solid var(--color-input-border);
    border-radius: var(--form-input-radius);
}

.form-checkbox:checked + .form-label::before{
    background: url(../images/Icon\ Check.svg) no-repeat center;
}

.form-checkbox{
    appearance: none;
    }

/* ---- footer ---*/

.footer{
    background: var(--color-footer);
    height: 232px;

}

.footer__content{
    display: flex;
    flex-direction: column;
}

.footer__text{
    display: flex;
    gap: 140px;
}

.footer__text-left,
.footer__text-right{
    display: flex;
    flex-direction: column;
    margin-top: 22px;
    gap: 7px;
}

.footer__logo{
    display: flex;
    align-items: center;
    margin-top: 40px;
    font-family: var(--font-special);
    font-weight: 700;
    font-size: 25px;
    line-height: 34px;
    color: white;
}

.footer__logo span{
    color: var(--color-primary);
    margin-left: 8px;
    margin-right: 8px;
}

.footer__text--link{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--font-special);
    font-family: 14px;
    line-height: 19px;

}
.footer__text--home-page{
    color: var(--color-primary);
}

.footer__bottom--copyright{
    color: #d1d1d1;
    font-size: 12px;
    font-family: var(--font-special);

}
.footer__bottom{
    display: flex;
    justify-content: space-between;
    align-items: end;
    
}